<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257791990464-fqj33e6s8af8jo9les25fmg14hhs14kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257791990464-fqj33e6s8af8jo9les25fmg14hhs14kc</string>
	<key>API_KEY</key>
	<string>AIzaSyC4vkpf6EziWNHpSsMCpXOaFq-bcAJ_3U0</string>
	<key>GCM_SENDER_ID</key>
	<string>257791990464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seunghyeonKang.PhoneNumberChanged</string>
	<key>PROJECT_ID</key>
	<string>phonenumberchanged</string>
	<key>STORAGE_BUCKET</key>
	<string>phonenumberchanged.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257791990464:ios:35a510a747e5027d49eb25</string>
</dict>
</plist>